<!DOCTYPE html>
<html lang="ko">
<head>
      <!-- Webpage Title -->
      <title>My_Netflix</title>

      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!-- JS -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

      
      <script type="text/javascript">
      //회원가입 페이지로 이동
      function register(){
            window.location.href ="/register"
      }

      function login(){
            let id = $('#id_input').val();
            let pwd = $('#pwd_input').val();
            if(id == ''){
                  alert("아이디를 입력해주세요!")
                  $("#id_input").focus();
                  return;
            }
            if(pwd == ''){
                  alert("비밀번호를 입력해주세요!")
                  $("#pwd_input").focus();
                  return;
            }
            $.ajax({
                  type:"POST",
                  url:"/login",
                  data:{
                  'id':id,
                  'pwd':pwd
                  },
                  success: function(response) {
                        if (response['result'] == 'success') {
                              $.cookie('mytoken', response['token'], {path: '/login'});
                              window.location.replace("/main")
                        } else {
                              alert(response['msg'])
                        }
                  }
            })

      }
      </script>
      <style type="text/css">
      .wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
      }
      .container{
            width:800px;
            padding:50px;
            border-radius:20px;
            border:dashed;
            text-align:center;
      }
      button{
            width:100px;
      }
      </style>

</head>
<body>
<div class="wrapper">
      <div class = "container">
      <h1>My Netflix 로그인</h1>
      <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">아이디</span>
            <input type="text" id="id_input" class="form-control dup_before" placeholder="ID를 입력하세요." aria-describedby="button-addon2">
      </div>
      <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">비밀번호</span>
            <input type="password" id="pwd_input" class="form-control" placeholder="비밀번호를 입력하세요." aria-describedby="button-addon2">
      </div>
      <br/>
      <button type="button" class="btn btn-secondary" onclick="login()">로그인</button>
      <button type="button" class="btn btn-secondary" onclick="register()">회원가입</button>
      </div>
</div>
</body>
</html>