<!DOCTYPE html>
<html lang="ko">

<head>
  <!-- Webpage Title -->
  <title>My Netflx | 항해99(16조)</title>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Bootstrap Fontawesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://kit.fontawesome.com/c0c8dc8706.js" crossorigin="anonymous"></script>

  <!-- JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>


  <!-- 구글폰트 -->
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap" rel="stylesheet">

  <script>
    //로그아웃
    function logout() {
      $.removeCookie('mytoken', {
        path: '/'
      });
      alert('로그아웃!')
      window.location.href = '/'
    }

    function search_title() {
      let title_input = $("#title_input").val();
      if (title_input == '') {
        alert("검색할 제목을 입력해주세요.")
        return;
      }
      event.preventDefault()
      $.ajax({
        type: "GET",
        url: "/main",
        data: {
          "search_title": title_input
        },
        success: function (response) {
          $("#search_cards").html(response)
        }
      })

    }
  </script>

  <style type="text/css">
    * {
      font-family: 'Nanum Gothic', sans-serif;
    }

    .poster {
      height: 300px;
      background-size: cover;
      background-position: center;
    }
  </style>
</head>

<body>
  <div class="container">

    <!-- Navigation Bar -->
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <span class="navbar-brand">My Netflix</span>
        <div class="text-right">
          <div class="align-items-center my-2">
            <span class="mx-2">{{nick}}님 접속중!</span>
            <button class="btn btn-dark btn-sm" onclick="logout()">LogOut</button>
          </div>
          <div class="align-items-center my-2">
            <form class="d-flex">
              <input class="form-control mr-2" type="search" placeholder="제목 검색" aria-label="제목 검색" id="title_input">
              <button class="btn btn-primary btn-sm" type="submit" onclick="search_title()">검색</button>
            </form>
          </div>
        </div>
      </div>
    </nav>

    <!-- Review Card List -->
    <div id="search_cards">
      <div class="container-fluid p-3">
        <div id="contents-box" class="row">

          {% for netflix in netflixs %}

          {%  set poster_path = netflix['net_poster'] %}
          {%  set title = netflix['net_title'] %}
          {%  set category = netflix['net_cate'] %}
          {%  set rv_count = netflix['net_rv_count'] %}

          <div class="col-xl-3 col-lg-4 col-md-6 col-xs-12 my-2">
            <div class="card">

              {%  set poster_path = netflix['net_poster'] %}

              <div class="card-img-top poster" style="background-image: url({{poster_path}});">
              </div>

              <div class="card-body p-3">
                <h5 class="card-title mb-3">{{title}}</h5>

                {% if (category=="tv") %}
                <p class="card-text mt-2">TV 시리즈</p>
                {% endif %}

                {% if (category=="mv") %}
                <p class="card-text mt-2">영화</p>
                {% endif %}

                <div class="justify-content-between">
                  <div class="btn_box d-inline">
                    <a href="/review/list/{{title}}" class="btn btn-sm btn-primary">리뷰보기</a>
                    <a href="/review/write/{{title}}" class="btn btn-sm btn-primary">리뷰작성</a>
                  </div>
                  <span class="review_count far fa-comment-alt"> {{rv_count}}</span>
                </div>
              </div>

            </div>
          </div>

          {% endfor %}

        </div>
      </div>
    </div>

  </div>

</body>

</html>