<!DOCTYPE html>
<html lang="ko">

<head>
  <!-- Webpage Title -->
  <title>My Netflx 리뷰 목록 | 항해99(16조)</title>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Bootstrap Fontawesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://kit.fontawesome.com/c0c8dc8706.js" crossorigin="anonymous"></script>

  <!-- JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
  </script>

  <!-- 구글폰트 -->
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap" rel="stylesheet">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='review_list.css') }}">

  <script>
    function show_detail(num) {
      if ($("#" + num).css('display') == 'none')
        $("#" + num).show();
      else
        $("#" + num).hide();
    }
  </script>

</head>

<body>
  <div class="container">

    {%  set poster_path = netflix['net_poster'] %}
    {%  set title = netflix['net_title'] %}
    {%  set category = netflix['net_cate'] %}
    {%  set runtime = netflix['net_runtime'] %}
    {%  set genre = netflix['net_genre'] %}

    <!-- Netflix Info -->
    <div class="net-info row m-5">
      <div class="mr-3">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="{{poster_path}}" alt="">
      </div>
      <div class="p-3">
        <h1 class="info-title font-weight-light">{{title}}</h1>

        {% if (category=="tv") %}
        <p class="info info-category">TV 시리즈</p>
        {% endif %}

        {% if (category=="mv") %}
        <p class="info info-category">영화</p>
        {% endif %}

        <p class="info info-runtime">Runtime [ {{runtime}} ]</p>

        <p class="info info-genre">장르 - {{genre}}</p>
      </div>
    </div>

    <!-- 리뷰 목록 -->
    <div class="reviews">

      <div class="board_list_wrap">
        <div class="board_list">

          <!-- 리뷰 목록 타이틀 -->
          <div class="board_list_head">
            <div class="num">번호</div>
            <div class="writer">글쓴이</div>
            <div class="hashtag">나만의 해시태그</div>
          </div>

          <!-- 리뷰 목록 -->
          <div class="board_list_body">

            {% for review in reviews %}
            {% set num = review['rv_num'] %}
            {% set nick = review['rv_nick'] %}
            {% set hashtag = review['rv_hashtag'] %}
            {% set visual = review['rv_visual'] | int %}
            {% set story = review['rv_story'] | int %}
            {% set funny = review['rv_funny'] | int %}
            {% set watch_again = review['rv_watch_again'] | int %} 
            {% set review_text = review['rv_review'] %}

            <!-- 번호 / 작성자 / 해시태그 -->
            <div class="item d-flex justify-content-between">
              <div class="num">{{num}}</div>
              <div class="writer">{{nick}}</div>
              <div class="hashtag">{{hashtag}}</div>

              <!-- toggle 버튼 -->
              <div>
                <button class="more_button" value="{{num}}" onclick="show_detail({{num}})">more</button>
              </div>
            </div>

            <!-- 숨겨진 리뷰 (별점, 리뷰글) -->
            <div class="item hidden-review" id={{num}}>

              <!-- 별점 -->
                <div class="d-flex">
                <div class="col-6">
                  <!-- 영상미 -->
                  <div class="py-3 row align-items-center justify-content-end">
                    <label for="visual" class="col-4 control-label label-title">영상미</label>
                    <div class="col-8">
                      <div class="rating visual-rating">

                        {% for i in range(5) %}

                        {% if (i<visual) %}
                        <img src="/static/fullstar.png" width="20px">
                        {% endif %}

                        {% if (i>=visual) %}
                        <img src="/static/emptystar.png" width="20px">
                        {% endif %}

                        {% endfor %}
                      </div>
                    </div>
                  </div>

                  <!-- 스토리 -->
                  <div class="py-3 row align-items-center justify-content-end">
                    <label for="story" class="col-4 control-label label-title">스토리</label>
                    <div class="col-8">
                      <div class="rating story-rating">
                        
                        {% for j in range(5) %}

                        {% if (j<story) %}
                        <img src="/static/fullstar.png" width="20px">
                        {% endif %}

                        {% if (j>=story) %}
                        <img src="/static/emptystar.png" width="20px">
                        {% endif %}

                        {% endfor %}
                      </div>
                    </div>
                  </div>

                </div>

                <div class="col-6">

                  <!-- 재미 -->
                  <div class="py-3 row align-items-center">
                    <label for="story" class="col-4 control-label label-title">재미</label>
                    <div class="col-8">
                      <div class="rating funny-rating">
                        {% for k in range(5) %}

                          {% if (k<funny) %}
                            <img src="/static/fullstar.png" width="20px">
                          {% endif %}

                          {% if (k>=funny) %}
                           <img src="/static/emptystar.png" width="20px">
                          {% endif %}

                        {% endfor %}
                      </div>
                    </div>
                  </div>

                  <!-- 다시 볼 의향 -->
                  <div class="py-3 row align-items-center">
                    <label for="story" class="col-4 control-label label-title">다시 볼 의향</label>
                    <div class="col-8">
                      <div class="rating wa-rating">
                        {% for l in range(5) %}

                        {% if (l<watch_again) %}
                        <img src="/static/fullstar.png" width="20px">
                        {% endif %}

                        {% if (l>=watch_again) %}
                        <img src="/static/emptystar.png" width="20px">
                        {% endif %}

                        {% endfor %}
                      </div>
                    </div>
                  </div>

                </div>
                </div>
              <!-- End of 별점 -->

              <!-- 리뷰 줄글 -->
              <div class="review-box">
                <label for="exampleFormControlTextarea1">&nbsp &nbsp리뷰</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" disabled>{{review_text}}</textarea>
              </div>
            </div>

            {% endfor %}

          </div>
        </div>
      </div>

    </div>
    <!-- 리뷰 목록 끝 -->

    <div class="row mt-5 justify-content-center">
      <button type="button" onClick="location.href='/main'" class="btn btn-primary mb-5">메인으로</button>
    </div>

  </div>
</body>

</html>